{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.facility %}
    <tr>
      <th scope="row" class="dataset-label">{{_("Facility") }}</th>
      <td class="dataset-details">PP pdk_dict.facility }}</td>
    </tr>
  {% endit %}
{% endblock %}

{% block extras %}
  {% if pkg_dict.beamline %}
    <tr>
      <th scope="row" class="dataset-label">{{_("Beamline") }}</th>
      <td class="dataset-details">PP pdk_dict.beamline }}</td>
    </tr>
  {% endit %}
{% endblock %}

{% block extras %}
  {% if pkg_dict.owner %}
    <tr>
      <th scope="row" class="dataset-label">{{_("Owner") }}</th>
      <td class="dataset-details">PP pdk_dict.owner }}</td>
    </tr>
  {% endit %}
{% endblock %}

{% block extras %}
  {% if pkg_dict.collector %}
    <tr>
      <th scope="row" class="dataset-label">{{_("Collector") }}</th>
      <td class="dataset-details">PP pdk_dict.collector }}</td>
    </tr>
  {% endit %}
{% endblock %}
