{% ckan_extends %}

{% block basic_fields_url %}

  {{ form.input('recon_alg', label=_('Reconstruction Algorithm'), id='field-recon_alg', placeholder=_('eg, Gridrec'), value=data.recon_alg, error=errors.recon_alg, classes=['control-medium']) }}
  {{ form.input('filter', label=_('Filter'), id='field-filter', placeholder=_('eg, butterworth'), value=data.filter, error=errors.filter, classes=['control-medium']) }}
  {{ form.input('cor', label=_('Center of Rotation'), id='field-description', placeholder=_('eg, 1280'), value=data.cor, error=errors.cor, classes=['control-medium']) }}
{% endblock %}
